{
    "web": {
        "client_id": "<...>",
        "client_secret": "<...>",
        "auth_uri": "<...>",
        "token_uri": "<...>",
        "userinfo_uri": "<...>",
        "issuer": "<...>",
        "redirect_uris": [ "https://127.0.0.1/oidc_callback" ]
    }
}